%h1 Edit Existing Movie

= form_tag action: "updtmoviesomething", method: "get" do

  = label :movie, :title, 'Title'
  = text_field :movie, 'oldTitle'

  = label :movie, :title, 'Updtd_Title'
  = text_field :movie, 'title'

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['--','G','PG','PG-13','R','NC-17']

  = label :movie, :release_date, 'Released On'
  = date_select :movie, :release_date

  = submit_tag 'Update Movie Info'